APP_ENV=development
PORT=8081
DATABASE_URL=postgresql://myuser:mypassword@localhost:5432/cuway_database?sslmode=disable
SECRET_KEY=replace_with_a_32_character_secret_key
SEED_ADMIN_NAME = "CU Ways Admin"
SEED_ADMIN_EMAIL = "admin@example.com"
SEED_ADMIN_PASSWORD = "local-admin-password-123"
SHUTDOWN_TIMEOUT=10s
READINESS_TIMEOUT=2s
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS=5
DB_CONN_MAX_LIFETIME=1h
DB_CONN_MAX_IDLE_TIME=30m
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_DB=cuway_database
POSTGRES_PORT=5432
PGADMIN_DEFAULT_EMAIL=admin@gmail.com
PGADMIN_DEFAULT_PASSWORD=weakpassword
PGADMIN_PORT=5050
